<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="css/style.css">
<script src="https://use.fontawesome.com/dad29a7320.js"></script>

<title>TP II - Node.js, Express, MongoDB, EJS</title>
</head>
<body>
  <div class='global'>
  	  <header>
  	  	<h1>TP II - Programmation et veille technologique</h1>
  	  	<h2>Node.js, Express, MongoDB, EJS</h2>
  	  </header>
  	  <main>
          
        <table>
            <caption>Carnet d'adresse 6</caption>
            <tr>
                <th><a href="TNom">Nom</a></th>
                <th><a href="TPrenom">Prenom</a></th>
                <th><a href="TTel">Téléphone</a></th>
                <th><a href="Tid">_id</a></th>
                <th>&nbsp;</th>
                <th><a href="Afficher"><i class="fa fa-plus-square" aria-hidden="true"></i></a></th>
            </tr>
            <% for(var i=0; i < carnet.length; i++) { %>
            <tr>
                <td contenteditable="true"><%= carnet[i].nom %></td>
                <td contenteditable="true"><%= carnet[i].prenom %></td>
                <td contenteditable="true"><%= carnet[i].telephone %></td>
                <td><%= carnet[i]._id %></td>
                <td><a href="Modifier"><i class="fa fa-floppy-o" aria-hidden="true"></i>
</a></td>
                <td><a href="Detruire/<%= carnet[i]._id %>"><i class="fa fa-trash" aria-hidden="true"></i>
</a></td>
            </tr>
            <% } %>
        </table>
	  </main>
	  <footer>
	  <p>TP II - Programmation et veille technologique - TIM - Collège de Maisonneuve</p>
	  </footer>
  </div>
</body>
</html>